<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'admin_left_bar' %>
    <div class="admin-right-content">
      <%= render partial: 'admin_right_header' %>
      <div class="admin-right-main">
        <%= yield %>
      </div>
      <%= render partial: 'admin_right_footer' %>
    </div>
  </body>
</html>
